<mat-spinner *ngIf="!books"></mat-spinner>
<div *ngIf="books">
  <div class="table-container mat-elevation-z8">
    <div class="table-header">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div>
    <mat-table #table [dataSource]="dataSource">
      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.title }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="author">
        <mat-header-cell *matHeaderCellDef>Author</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.author }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="genres">
        <mat-header-cell *matHeaderCellDef>Genres</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.genreList }}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
</div>
