<app-header-component></app-header-component>
<mat-spinner *ngIf="!books"></mat-spinner>
<div *ngIf="books">
  <mat-grid-list cols="3" rowHeight="1:2">
    <mat-grid-tile *ngFor="let book of books">
      <mat-card>
        <mat-card-title>{{book.title}}</mat-card-title>
        <img mat-card-image *ngIf="book.cover" src="{{book.cover}}" alt="Cover for {{book.title}}">
        <mat-card-content><h3>{{book.authors}}</h3></mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
