<app-header-component></app-header-component>
<mat-spinner *ngIf="!books"></mat-spinner>
<div *ngIf="books">
  <mat-grid-list cols="5" rowHeight="1:1.5">
    <mat-grid-tile *ngFor="let book of books">
      <a routerLinkActive="true" routerLink="/book-info/{{book.isbn}}">
        <mat-card class="cell">
          <mat-card-title>{{book.title}}</mat-card-title>
          <img mat-card-image *ngIf="book.cover" src="{{book.cover}}" alt="Cover for {{book.title}}" class="card-image">
          <img mat-card-image *ngIf="!book.cover" src="../../assets/cover-placeholder.png" class="card-image">
          <mat-card-content><h3>{{book.authors}}</h3></mat-card-content>
        </mat-card>
      </a>
    </mat-grid-tile>
  </mat-grid-list>
</div>
